h1
{
	color:lightblue;
}

h2
{
	color:red;
}


body

#carte
{
	width: 750px;
	margin: 0 auto;
	background-color: red;
	text-align:  center;
	align-content:  center;
}

ul li
{
	list-style-type: none;
}

#btnplay1{
	width: 80px;
	cursor: pointer;
}