h1
{
	color:hotpink;
}

h2
{
	color:red;
}


body

#carte
{
	width: 750px;
	margin: 0 auto;
	background-color: lightskyblue;
	text-align:  center;
	align-content:  center;
}

ul li
{
	list-style-type: none;
}

#btnplay{
	width: 80px;
	cursor: pointer;
}